# Foundry
contracts/out/
contracts/cache/
contracts/lib/

# Python
__pycache__/
*.pyc
.venv/
.env
/agent/agent_state.db
/contracts/broadcast
# Node
node_modules/
.next/
web/.env.local

# Misc
.DS_Store
*.log
bot/.venv
